@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");
body {
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 28px;
  color: #C6C6C6;
  margin: 0;
  padding: 0; }

a, button, input, textarea, button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a {
  color: #C6C6C6; }

a,
a:hover {
  text-decoration: none; }

a:hover {
  color: #FE7129; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", serif;
  margin-top: 0;
  font-weight: 600;
  color: #494A4F; }

button {
  cursor: pointer;
  outline: 0;
  background: #FE7129;
  border: 0;
  color: #fff; }

.btn {
  cursor: pointer;
  outline: 0;
  background: #FE7129;
  border: 0;
  color: #fff;
  padding: 10px 20px; }
  .btn:hover {
    color: #fff;
    background: #65AC37; }

.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 1100;
  background: #fff; }
  .sticky-container .pt-250 {
    padding-top: 230px; }
  .sticky-container .sticky {
    padding-left: 15px; }
  .sticky-container .sticky li {
    list-style-type: none;
    background-color: #fff;
    padding: 10px; }
    .sticky-container .sticky li .text-vartical {
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      text-orientation: sideways-right;
      text-transform: capitalize; }
      .sticky-container .sticky li .text-vartical:hover {
        color: #fff; }

.sticky li:hover {
  margin-left: -25px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  background: #FE7129;
  color: #fff; }

.sticky li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 11px; }

.sticky li p a {
  text-decoration: none;
  color: #C6C6C6;
  padding: 10px 0; }

.sticky li p a:hover {
  text-decoration: underline;
  color: #fff; }

nav {
  background-color: transparent !important; }

.navbar-dark .nav-item > .nav-link.active {
  color: #FE7129; }

.navbar {
  background-color: transparent !important; }
  .navbar .navbar-brand {
    color: #65AC37;
    font-family: "Poppins", serif;
    font-weight: 700; }
    .navbar .navbar-brand:hover {
      color: #FE7129; }
  .navbar .navbar-toggler {
    background: #FE7129; }
  .navbar .nav-item .nav-link {
    color: #494A4F;
    font-family: "Poppins", serif;
    font-weight: 600;
    padding-right: 25px; }
    .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:active {
      color: #FE7129 !important; }

.pulse {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FE7129;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(254, 113, 41, 0.4);
  animation: pulse 2s infinite; }

.pulse:hover {
  animation: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 113, 41, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 113, 41, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 113, 41, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 113, 41, 0.4);
    box-shadow: 0 0 0 0 rgba(254, 113, 41, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(254, 113, 41, 0);
    box-shadow: 0 0 0 10px rgba(254, 113, 41, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 113, 41, 0);
    box-shadow: 0 0 0 0 rgba(254, 113, 41, 0); } }
.theme-common-color {
  color: #FE7129; }

.theme-alt-color {
  color: #65AC37; }

.common-heading {
  padding: 5rem 7rem 2.5rem 7rem; }
  .common-heading .common-heding-title {
    font-weight: 700;
    padding: 1.37rem; }

/*
------------Hero section----------------
*/
#hero-section {
  padding-top: 8rem;
  background: url("../image/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top 0px right 50px;
  background-attachment: fixed;
  background-size: 815px; }
  #hero-section .hero-heading {
    font-size: 45px;
    font-weight: 700; }
  #hero-section .play {
    padding-top: 13rem;
    padding-right: 3.5rem; }
    #hero-section .play .ti-control-play {
      color: #fff;
      background: #65AC37;
      padding: 15px;
      border-radius: 2rem; }

#hero-slider {
  position: relative; }
  #hero-slider .container {
    padding: 0px 50px; }
    #hero-slider .container .col-md-3 {
      border-right: 1px solid #C6C6C6; }
    #hero-slider .container .col-md-9 {
      border-right: 1px solid #C6C6C6; }
  #hero-slider .media h5 {
    font-size: 16px; }
  #hero-slider .owl-theme .owl-nav {
    margin-top: -70px; }
    #hero-slider .owl-theme .owl-nav .owl-prev {
      position: absolute;
      left: -40px;
      font-size: 18px;
      background: #FE7129;
      height: 30px;
      width: 30px;
      border-radius: 50%; }
    #hero-slider .owl-theme .owl-nav .owl-next {
      position: absolute;
      right: -40px;
      background: #FE7129;
      height: 30px;
      width: 30px;
      border-radius: 50%; }

/*
-----------About Menu section------------
*/
#about-menu {
  background: url("../image/about-bg.png");
  background-color: #F3F3F3;
  background-position: center center;
  background-size: cover;
  padding-bottom: 3.275rem; }
  #about-menu .card {
    background: #fff;
    border: 0px;
    margin: 0.375rem; }
    #about-menu .card .card-text {
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 20px; }
  #about-menu .owl-theme .owl-dots .owl-dot.active span, #about-menu .owl-theme .owl-dots .owl-dot:hover span {
    background: #FE7129;
    width: 30px; }
  #about-menu .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 3px;
    margin: 5px 5px;
    background: #65AC37;
    border-radius: 25%; }

/*
-------------Special Food-----------------------
*/
#special-menu {
  padding-bottom: 5.75rem; }
  #special-menu .secial-text-area {
    padding-top: 1.25rem; }
    #special-menu .secial-text-area .special-text {
      font-size: 16px;
      line-height: 22px; }

/*
--------------video section----------------------
*/
#video-section {
  position: relative;
  height: 25rem;
  background: url("../image/video-bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(198, 198, 198, 0.8);
  opacity: 0.7; }
  #video-section .video-area .play {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #video-section .video-area .play .ti-control-play {
      padding: 40px; }

/*
--------------Story Section----------------------
*/
#story-section {
  position: relative; }
  #story-section:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    top: -5px;
    background: linear-gradient(45deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%);
    background-size: 10px 20px; }
  #story-section .story-text-area {
    padding-top: 12rem; }

/*
------------Accordian section--------------------
*/
#accordian {
  padding: 4.75rem 1.25rem;
  background-color: #F4F4F4; }
  #accordian .accordianline-2, #accordian .accordianline-3, #accordian .accordianline-4 {
    border-left: 1px solid #C6C6C6; }
  #accordian .accordian-text-area {
    padding: 1.20rem; }
    #accordian .accordian-text-area .accordian-inmg {
      padding: 1.25rem; }
    #accordian .accordian-text-area .accordain-text {
      font-size: 14px;
      line-height: 20px; }

/*
---------------Testimonial section------------------
*/
#testimonial {
  padding-bottom: 4.75rem; }
  #testimonial .client-img {
    margin: 10px auto 10px auto;
    border-radius: 50%; }
  #testimonial .ti-star {
    color: #FE7129; }
  #testimonial .owl-theme .owl-dots .owl-dot.active span, #testimonial .owl-theme .owl-dots .owl-dot:hover span {
    background: #FE7129;
    width: 30px; }
  #testimonial .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 3px;
    margin: 5px 5px;
    background: #65AC37;
    border-radius: 25%; }

/*
--------------Reservation section------------------
*/
#subscription {
  background-color: #F4F4F4;
  padding-bottom: 4rem; }
  #subscription .subscription-text-area .btn {
    margin: 5px 10px;
    width: 10rem; }

/*
-------------Connected section----------------------
*/
#connect {
  padding-bottom: 6.75rem; }
  #connect .connect-social-media .connect-social-icon .ti-facebook, #connect .connect-social-media .connect-social-icon .ti-twitter-alt, #connect .connect-social-media .connect-social-icon .ti-instagram, #connect .connect-social-media .connect-social-icon .ti-youtube, #connect .connect-social-media .connect-social-icon .ti-vimeo-alt {
    font-size: 25px;
    color: #FE7129;
    background: #ececec;
    padding: 20px;
    border-radius: 50%; }
    #connect .connect-social-media .connect-social-icon .ti-facebook:hover, #connect .connect-social-media .connect-social-icon .ti-twitter-alt:hover, #connect .connect-social-media .connect-social-icon .ti-instagram:hover, #connect .connect-social-media .connect-social-icon .ti-youtube:hover, #connect .connect-social-media .connect-social-icon .ti-vimeo-alt:hover {
      color: #65AC37;
      background: #ffd6c1; }

/*
---------------Footer section-------------------
*/
#footer {
  padding-top: 6.75rem;
  background: #FE7129;
  color: #fff;
  position: relative; }
  #footer:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    top: -5px;
    background: linear-gradient(45deg, transparent 33.333%, #FE7129 33.333%, #FE7129 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #FE7129 33.333%, #FE7129 66.667%, transparent 66.667%);
    background-size: 10px 20px; }
  #footer .footer-col-hrad {
    color: #fff;
    padding-bottom: 1.75rem; }
  #footer ul {
    list-style: none;
    padding-left: 0px; }
  #footer a {
    color: #fff; }
    #footer a:hover {
      color: #65AC37; }

@media (max-width: 575.98px) {
  .sticky-container {
    top: 58px; }
    .sticky-container .pt-250 {
      padding-top: 80px;
      padding-left: 0px;
      background: transparent; }

  #hero-section {
    background-position: top 0px right -200px; }
    #hero-section .hero-text-area {
      padding-left: 15px !important;
      padding-right: 20px; }
      #hero-section .hero-text-area .hero-heading {
        font-size: 35px;
        font-weight: 700; }

  .common-heading {
    padding: 3rem 1.75rem 1.5rem 1.75rem; }
    .common-heading .common-heding-title {
      font-weight: 700;
      padding: 1.37rem; }

  .accordianline-1 {
    border-left: 1px solid #C6C6C6; }

  .connect-social-icon {
    margin-left: 5px !important;
    margin-right: 5px !important; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .sticky-container {
    top: 60px; }
    .sticky-container .pt-250 {
      padding-top: 80px; }

  .common-heading {
    padding: 5rem 1.75rem 1.5rem 1.75rem; }
    .common-heading .common-heding-title {
      font-weight: 700;
      padding: 1.37rem; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .sticky-container {
    top: 60px; }
    .sticky-container .pt-250 {
      padding-top: 80px; } }

/*# sourceMappingURL=style.css.map */
