@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

// variable define
$theme-color: #FE7129;
$theme-second-color:#65AC37;
$theme-white-color:#fff;
$font-primary-color:#494A4F;
$font-secondary-color:#C6C6C6;
$primary-font-family: 'Poppins', serif;

//basic style
body {
	font-family: $primary-font-family;
	font-size: 16px;
	line-height: 28px;
    color: $font-secondary-color;
    margin:0;
    padding:0;
}

a, button, input, textarea, button {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a {
	color: $font-secondary-color;
}

a,
a:hover {
	text-decoration: none;
}

a:hover {
	color: $theme-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $primary-font-family;
	margin-top: 0;
	font-weight: 600;
	color: $font-primary-color;
}

button {
	cursor: pointer;
	outline: 0;
	background: $theme-color;
	border: 0;
	color: #fff;
}

.btn {
    cursor: pointer;
	outline: 0;
	background: $theme-color;
	border: 0;
    color: #fff;
    padding:10px 20px;
    &:hover{
        color:$theme-white-color;
        background: $theme-second-color;
    }
}
//social sidebar link style
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:0;
    top:0px;
    z-index:1100;
    background:#fff;
    .pt-250{
        padding-top: 230px;
    }
    .sticky {
        padding-left: 15px;
    }
    .sticky li{
        list-style-type: none;
        background-color:#fff;
        padding: 10px;
        .text-vartical {
            -webkit-writing-mode:vertical-rl;
            -ms-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            text-orientation: sideways-right;
            text-transform: capitalize;
            &:hover {
             color:#fff;
            }
        }
    }
}

.sticky li:hover{
    margin-left:-25px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
    background:$theme-color;
    color:$theme-white-color;
}

.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:$font-secondary-color;
    padding: 10px 0;
}
.sticky li p a:hover{
    text-decoration:underline;
    color:#fff;
}
//navbar sectio
nav {
    background-color: transparent!important; 
} 
.navbar-dark .nav-item > .nav-link.active  {
    color:$theme-color;
}
.navbar{
    background-color: transparent!important;
    .navbar-brand {
        color:$theme-second-color;
        font-family: $primary-font-family;
        font-weight: 700;
        &:hover {
            color: $theme-color;
        }
    }
    .navbar-toggler {
        background:$theme-color;
    }
    .nav-item {
        .nav-link{
            color:$font-primary-color;
            font-family: $primary-font-family;
            font-weight: 600;
            padding-right: 25px;
            &:hover, &:active {
                color: $theme-color!important;
            }
        }
    }
}
//pulse style 
.pulse {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: $theme-color;
    cursor: pointer;
    box-shadow: 0 0 0 rgba($theme-color, 0.4);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba($theme-color, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba($theme-color, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($theme-color, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($theme-color, 0.4);
      box-shadow: 0 0 0 0 rgba($theme-color, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba($theme-color, 0);
        box-shadow: 0 0 0 10px rgba($theme-color, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($theme-color, 0);
        box-shadow: 0 0 0 0 rgba($theme-color, 0);
    }
  }
//common calss 
.theme-common-color {
    color:$theme-color;
}
.theme-alt-color {
    color:$theme-second-color;
}
.common-heading {
    padding: 5rem 7rem 2.5rem 7rem;
    .common-heding-title {
        font-weight: 700;
        padding: 1.37rem
    }
}
/*
------------Hero section----------------
*/
#hero-section {
    padding-top: 8rem;
    background: url('../image/hero-bg.png');
    background-repeat: no-repeat;
    background-position: top 0px right 50px;
    background-attachment: fixed;
    background-size: 815px;
    .hero-heading {
        font-size: 45px;
        font-weight: 700;
    }
    .play {
        padding-top: 13rem;
        padding-right: 3.5rem;
        .ti-control-play {
            color:$theme-white-color;
            background: $theme-second-color;
            padding: 15px;
            border-radius: 2rem;
        }
    }
}

#hero-slider {
    
    .container{
        // border-top: 1px solid $font-secondary-color;
        padding: 0px 50px;

        .col-md-3 {
            border-right: 1px solid $font-secondary-color;
        }
        .col-md-9 {
            border-right: 1px solid $font-secondary-color;
        }
    }
    position: relative;
    .media {
        h5 {
            font-size: 16px;
        }
    }
    .owl-theme .owl-nav {
        margin-top: -70px;
        .owl-prev {
            position: absolute;
            left:-40px;
            font-size: 18px;
            background:$theme-color;
            height:30px; width:30px;
            border-radius: 50%;
            
        }
        .owl-next {
            position: absolute;
            right:-40px;
            background:$theme-color;
            height:30px; width:30px;
            border-radius: 50%;
            
        }
    }
   
}
/*
-----------About Menu section------------
*/
#about-menu {
    background: url('../image/about-bg.png');
    background-color:#F3F3F3;
    background-position: center center;
    background-size: cover;
    padding-bottom: 3.275rem;
    .card {
        background:$theme-white-color;
        border:0px;
        margin:0.375rem;
        
        .card-text {
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 20px;
        }
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #FE7129;
        width: 30px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 3px;
        margin: 5px 5px;
        background: #65AC37;
        border-radius: 25%;
    }
}

/*
-------------Special Food-----------------------
*/
#special-menu {
    padding-bottom: 5.75rem;
    // position: relative;
    // bottom: -4px;
    // background:#fff;
    // &::after {
    //     background: linear-gradient(-45deg, #ffffff 5px, transparent 0), linear-gradient(45deg, #ffffff 5px, transparent 0);
    //     background-position: left-bottom;
    //     background-repeat: repeat-x;
    //     background-size: 10px 10px;
    //     content: " ";
    //     display: block;
    //     position: absolute;
    //     bottom: -5px;
    //     // margin-top: -10px;
    //     left: 0px;
    //     width: 100%;
    //     height: 10px;
    //     z-index: 100;
    // }
    .secial-text-area {
        padding-top: 1.25rem;
        .special-text {
            font-size: 16px;
            line-height: 22px;
        }
    }
}
/*
--------------video section----------------------
*/
#video-section{
    position: relative;
    height: 25rem;
    background: url('../image/video-bg.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(#C6C6C6, 0.8);
    opacity: 0.7;
    .video-area{

        .play{
            opacity: 1;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            .ti-control-play {
                padding: 40px;
            }
        }
    }
}
/*
--------------Story Section----------------------
*/

#story-section {
    position: relative;
    &:before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        top:-5px;
        background:
        linear-gradient(
          45deg, transparent 33.333%,
          $theme-white-color 33.333%, $theme-white-color 66.667%,
          transparent 66.667%
        ),
        linear-gradient(
          -45deg, transparent 33.333%,
          $theme-white-color 33.333%, $theme-white-color 66.667%,
          transparent 66.667%
        );
        background-size: 10px 20px;
    }
    .story-text-area {
        padding-top: 12rem;
    }
}
/*
------------Accordian section--------------------
*/

#accordian {
    padding:4.75rem 1.25rem;
    background-color: #F4F4F4;
    .accordianline-2, .accordianline-3, .accordianline-4
    {
        border-left: 1px solid $font-secondary-color;//$theme-color;
    }
    .accordian-text-area {
        padding:1.20rem;
        .accordian-inmg {
            padding:1.25rem;
        }
        .accordain-text{
            font-size: 14px;
            line-height: 20px;
        }
        
    }

}
/*
---------------Testimonial section------------------
*/
#testimonial {
    padding-bottom: 4.75rem;
    .client-img {
        margin: 10px auto 10px auto;
        border-radius: 50%;
    }
    .ti-star {
        color: $theme-color;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #FE7129;
        width: 30px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 3px;
        margin: 5px 5px;
        background: #65AC37;
        border-radius: 25%;
    }
    
}

/*
--------------Reservation section------------------
*/
#subscription {
    background-color: #F4F4F4;
    padding-bottom: 4rem;
    .subscription-text-area {
        .btn {
            margin: 5px 10px;
            width:10rem;
        }
    }
}

/*
-------------Connected section----------------------
*/
#connect{
    padding-bottom: 6.75rem;
    .connect-social-media {
        .connect-social-icon{
            .ti-facebook,.ti-twitter-alt,.ti-instagram,.ti-youtube,.ti-vimeo-alt{
                font-size: 25px;
                color: $theme-color;
                background: lighten($font-secondary-color, 15%);
                padding: 20px;
                border-radius: 50%;
                &:hover {
                    color:$theme-second-color;
                    background: lighten($color: $theme-color, $amount: 30);
                }
            }
        }
    }
}

/*
---------------Footer section-------------------
*/
#footer {
    padding-top: 6.75rem;
    background: $theme-color;
    color: $theme-white-color;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        top:-5px;
        background:
        linear-gradient(
          45deg, transparent 33.333%,
          $theme-color 33.333%, $theme-color 66.667%,
          transparent 66.667%
        ),
        linear-gradient(
          -45deg, transparent 33.333%,
          $theme-color 33.333%, $theme-color 66.667%,
          transparent 66.667%
        );
      background-size: 10px 20px;
    }
    .footer-col-hrad {
        color:$theme-white-color;
        padding-bottom: 1.75rem;
    }
    ul{
        list-style: none;
        padding-left: 0px;
    }
    a {
        color: $theme-white-color;
        &:hover{
            color: $theme-second-color;
        }
    }
}


// Responsive view
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .sticky-container{
        top:58px;
        .pt-250{
            padding-top: 80px;
            padding-left: 0px;
            background:transparent;
        }
        
    }
    #hero-section {
        background-position: top 0px right -200px;
        .hero-text-area {
            padding-left: 15px!important;
            padding-right: 20px;
            .hero-heading {
                font-size: 35px;
                font-weight: 700;
            }
        }
    }
    .common-heading {
        padding: 3rem 1.75rem 1.5rem 1.75rem;
        .common-heding-title {
            font-weight: 700;
            padding: 1.37rem
        }
    }
    .accordianline-1
    {
        border-left: 1px solid $font-secondary-color;//$theme-color;
    }
    .connect-social-icon {
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .sticky-container{
        top:60px;
        .pt-250{
            padding-top: 80px;
        }
    }
    .common-heading {
        padding: 5rem 1.75rem 1.5rem 1.75rem;
        .common-heding-title {
            font-weight: 700;
            padding: 1.37rem
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .sticky-container{
        top:60px;
        .pt-250{
            padding-top: 80px;
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
